* {
    box-sizing: border-box;
}

html {
    font-family: monospace;
}

body {
    background-color: black;
}

#menu {
    width: 10%;
    height: 100%;
    float: left;
    background: black;
    margin: 10px;
    padding: 10px
}

#main {
    width: 75%;
    float: left;
    background-color: #1e2023;
    margin: 10px;
    padding: 10px;
    border-left: solid 10px gray;
    display: inline-block;
}

#footer {
    width: 100%;
    background-color: black;
    margin:10px;
    padding: 10px;
    border-top: solid 2px gray;
    display: flex;
    color: #383a3d;
}

.entry {
    color: whitesmoke;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.expand {
    color: black;
    border-radius: 5px;
    border-style: none;
}

.info {
    background-color: #454749;
    border-left: solid 10px gray;
    padding: 10px;
}

ul {
    background: black;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border-left: grey solid 5px;
}

li a {
    display: block;
    width: 100%;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: black;
}
